@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
}
