:root {
  --font-family: "Montserrat", sans-serif;

  --tex-color: #fff;
  --bg-color: #c4c4c4;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
